<div class="row">

  <div class="form-group">
      <label for="formFields_1">Please type the message to tweet</label>
      <input type="text" id="tweetMsg" name="tweetMsg" [(ngModel)]="tweetMsg" placeholder="Tweet" size="35" enabled>
  </div>

  <button class="btn btn-primary" (click)='runWorkflow("aedd6778-647b-4200-87ee-f7c030eee05c")'>Run Workflow</button>
  <div class="col-sm-12 col-md-8">
    <p>Connected to vRealize Orchestrator!<BR>Found total of {{total}} Workflows!</p>
    <clr-datagrid>
      <clr-dg-column>Workflow name</clr-dg-column>
      <!-- <clr-dg-column>Workflow ID</clr-dg-column> -->
      <clr-dg-column>Version</clr-dg-column>
      <clr-dg-column>Category</clr-dg-column>
    
      <clr-dg-row *ngFor="let workflow of workflows">
          <clr-dg-cell>{{workflow.name}}</clr-dg-cell>
          <!-- <clr-dg-cell>{{workflow.id}}</clr-dg-cell> -->
          <clr-dg-cell>{{workflow.version}}</clr-dg-cell>
          <clr-dg-cell>{{workflow.category}}</clr-dg-cell>
      </clr-dg-row>
    
    </clr-datagrid>
  </div>
</div>